name: Compile Object Files for KolibriOS

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  compile:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up MinGW (for compiling 32-bit)
      run: |
        sudo apt-get update
        sudo apt-get install -y mingw-w64 gcc-multilib libc6-dev-i386

        
    - name: Compile mbedTLS + kosnet into single .obj
      run: |
        mkdir -p build
        gcc -m32 -c library/*.c -O2 -Wall  -Iinclude -I./
        # Combine all object files into a single .o file 
        ld -m elf_i386 -r *.o -o build/mbedtls.obj
        
        # Compile all kosnet files to .o
        gcc -m32 -c kosnet/network.c -I. -o network.o
        gcc -m32 -c kosnet/socket.c -I. -o socket.o
        gcc -m32 -c kosnet/dlfcn.c -I. -o dlfcn.o
        
        # Merge into a single relocatable object for FASM
        ld -m elf_i386 -r network.o socket.o dlfcn.o -o build/kosnet.obj


        

    - name: Prepare files for USB (upload mbedtls.obj, mbedtls.inc, example.asm)
      run: |
        mkdir -p usb_files
        cp build/mbedtls.obj usb_files/
        cp build/kosnet.obj usb_files/
        cp mbedtls.inc usb_files/ 
        cp example.asm usb_files/ 

    - name: Upload compiled files for USB
      uses: actions/upload-artifact@v4
      with:
        name: compiled-files
        path: usb_files/
